@model List<MyReddit.Models.Post>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>My reddit</title>
</head>
<body>
    <h1>Here you can see the posts</h1>
    @foreach (var post in Model)
    {
        <table>
            <tr>
                <td> @post.Owner.Name </td>
                <td> <h2>@post.Title</h2></td>
                <td> Created on @(new System.DateTime(1970, 1, 1, 0, 0, 0, 0).AddSeconds(post.Timestamp + 7200))</td>
            </tr>
            <tr>
                <td> <img src="@post.Url" alt="@post.Title" width="160" height="160" /></td>
                <td><p>post.content to be added to DB</p></td>
            </tr>

        </table>
        <img src="https://www.team2.asia/wp-content/uploads/2016/02/divider-line.png" width="600" />

    }


</body>
</html>